.icon-window {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 485px;

    box-shadow: -20px 40px 40px -20px rgba(0,0,0,0.2);
    border-radius: 10px;
    border: 0px solid #000000;
    background-color: #ffffff;
    z-index: 1;
    padding-top: 50px;
    margin-top: 50px;

    &__icon {
        position: absolute;
        top: -50px;
        transform: translateX(-50%);
        left: 50%;
        border-radius: 50%;
        width: 120px;
        height: 120px;
        background-color: #ffffff;
        text-align: center;
    
        i {
            font-size: 50px;
            position: relative;
            top: 50%;
            transform: translateY(calc(-50% - 10px));
            color: #4db0ff;
        }
    }
}